fastapi==0.116.1
google_api_python_client==2.162.0
langchain_core==0.3.76
langchain_openai==0.3.33
langgraph==0.6.7
playwright==1.50.0
pydantic==2.11.9
python-dotenv==1.1.1
typing_extensions==4.15.0
uvicorn==0.35.0
